<html ng-app="punchCard">
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
</head>
<body onload="updateTime(); setInterval('updateTime()', 1)" ng-controller="MainController as vm">
  <!-- <h1> PUNCH CARD APP </h1> -->

<!-- fancy buttons to punch in, lunch start, lunch end, punch out -->
<div class="btn-container">
  <div>
    <button type="button" class="punch-in btn" data-name="Punch In">PUNCH IN</button>
  </div>
  <div>
    <button type="button" class="lunch-in btn" data-name="Lunch In">START LUNCH</button>
  </div>
  <div>
    <button type="button" class="lunch-out btn" data-name="Lunch Out">END LUNCH</button>
  </div>
  <div>
    <button type="button" class="punch-out btn" data-name="Punch Out">PUNCH OUT</button>
  </div>
</div>
<!-- disply date and time for each -->
<div class="wrapper">

  <div class="table punchin">
    <div class="row header">
      <div class="cell">
        Punch In
      </div>
      <div class="cell">
        Time
      </div>
    </div>
    <div class="row">
      <div class="cell">
        <form class="punch-in-date">
          <input type="text" name="date" value="..." readonly>
        </form>
      </div>
      <div class="cell">
        <form class="punch-in-time">
        <input type="text" data-name="Punch In" data-index="0" name="time" value="..." readonly>
        <i class="fa fa-pencil" ></i>
        <i class="fa fa-check"></i>
        <i class="fa fa-trash-o"></i>
        </form>
      </div>
    </div>
  </div>

  <div class="table lunchin">
    <div class="row header alt">
      <div class="cell">
        Start Lunch
      </div>
      <div class="cell">
        Time
      </div>
    </div>
    <div class="row">
      <div class="cell">
        <form class="lunch-in-date">
          <input type="text" name="date" value="..." readonly>
        </form>
      </div>
      <div class="cell">
        <form class="lunch-in-time">
        <input type="text" data-name="Lunch In" data-index="1" name="time" value="..." readonly>
        <i class="fa fa-pencil" ></i>
        <i class="fa fa-check"></i>
        <i class="fa fa-trash-o"></i>
        </form>
      </div>
    </div>
  </div>

  <div class="table lunchout">
    <div class="row header">
      <div class="cell">
        End Lunch
      </div>
      <div class="cell">
        Time
      </div>
    </div>
    <div class="row">
      <div class="cell">
        <form class="lunch-out-date">
          <input type="text" name="date" value="..." readonly>
        </form>
      </div>
      <div class="cell">
        <form class="lunch-out-time">
        <input type="text" data-name="Lunch Out" data-index="2" name="time" value="..." readonly>
        <i class="fa fa-pencil"></i>
        <i class="fa fa-check"></i>
        <i class="fa fa-trash-o"></i>
        </form>
      </div>
    </div>
  </div>

  <div class="table punchout">
    <div class="row header alt">
      <div class="cell">
        Punch Out
      </div>
      <div class="cell">
        Time
      </div>
    </div>
    <div class="row">
      <div class="cell">
        <form class="punch-out-date">
          <input type="text" name="date" value="..." readonly>
        </form>
      </div>
      <div class="cell">
        <form class="punch-out-time">
        <input type="text" data-name="Punch Out" data-index="3" name="time" value="..." readonly>
        <i class="fa fa-pencil"></i>
        <i class="fa fa-check"></i>
        <i class="fa fa-trash-o"></i>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="controls woops">
  <div class="fa fa-refresh" style="font-size: 40px;"></div>

  <div class="fa fa-floppy-o" style="font-size: 40px;"></div>
  <div class="popUpDiv"><div id="popUpDivContent"></div><button class="close">CLOSE</button></div>
</div>
<div class="mySqlObject">
  <table>
    <thead>
      <tr>
        <th>Punch Type</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody ng-repeat"entry in vm.database">
      <tr>
        <td>{{ entry.punchType }}</td>
        <td>{{ entry.currentDate }}</td>
        <td>{{ entry.currentTime }}</td>
     </tr>
   </tbody>
 </table>
</div>
<!-- calculate total time worked -->

<!-- store data in an object on a server -->

  <script src="assets/js/app.js"></script>
</body>
</html>
