
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Mono', monospace;
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

h1{
  color:white;
  text-align: center;
  font-size: 40px;
  margin:20px auto;
}

div{
  font-family: 'Helvetica Neue';
}

.btn-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
button{
  width:120px;
  height:60px;
  font-size: 15px;
  margin:10px 20px;
  border-radius: 8px;
  border: 2px solid black;
  color:white;
  -webkit-box-shadow: -3px -3px 0px -2px rgba(255,255,255,0.4);
  -moz-box-shadow: -3px -3px 0px -2px rgba(255,255,255,0.4);
  box-shadow: -3px -3px 0px -2px rgba(255,255,255,0.4);
  transition:
  background-color 0.2s;
  border:  solid black 3px;
}

.btn {
  cursor:pointer;
  background-color: hsla(176, 99%, 69%, 0.38);
  }

span {
  display:inline-block;
  transition: all 0.2s
}
.btn-text:hover{
  transform:rotate(-5deg);
}

.btn:hover{
  background-color: hsla(176, 99%, 69%, 0.7);
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.btn::after{
  text-shadow: none;
  font-size: 40px;
  content: "❓";
  opacity:0;
  transition:all 0.5s;
  position:absolute;
  transform: rotate(180deg) scale(0);
  pointer-events: none;
}

.btn:hover::after{
  opacity:1;
  transform:
    rotate(380deg)
    scale(1.5);
}

.wrapper{
  margin: 0 auto;
  padding: 10px 10px;
  max-width: 800px;
  background-color: hsla(181, 15%, 50%, 0.4);

  }

  body{
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.table{
  margin: 0 0 5px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
}

@media screen and (max-width: 310px){
  .table{
      display: block;
    }
}

.row{
  display: table-row;
  background: #f6f6f6;
}

.row:nth-of-type(odd){
    background: #e9e9e9;
}
.row.header{
    font-weight: 900;
    color: #ffffff;
    background: rgb(37,115,111);
}
.row.alt{
    background: mediumturquoise;
    }


@media screen and (max-width: 310px){
  .row{
    padding: 8px 0;
    display: block;
    }
  }

.cell{
  padding: 6px 12px;
  display: table-cell;
  }
@media screen and (max-width: 310px){
.cell{
    padding: 2px 12px;
    display: block;
}
}

.controls{
  display:flex;
  justify-content: space-around;
  color: lightgrey;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fa:hover{
  cursor:pointer;
}

.success{
  cursor:not-allowed;
  background-color: hsl(173, 28%, 30%);
}

input{
  background-color: transparent;
   border: 0px solid;
   height: 20px;
   width: 90px;
   font-size:15px;
   transition:all 0.2s;
}

.fa{
  font-size:20px;
  margin:0 1.3px;
}

.hl{
  background-color: yellow;
  font-size:18px;
  border: 4px black;
  /*padding:20px 80px;*/
  /*border-style:outset;*/
  transition: all 0.2s;
}
.popUpDiv{
  width:300px;
  height:300px;
  font-size:20px;
  background-color: yellow;
  position:fixed;
  left:0;
  right:0;
  top:10%;
  margin: 0 auto;
  color:black;
  padding:20px;
  opacity:0;
  transition:all 0.4s;
  transform: translateY(-200%);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.close{
  background-color: grey;
}

.mySqlObject{
  font-size: 15px;
  color: white;
}
